Repository se310-Team4/KKDZ, pull requests merged in 2022-09, with the labels that each got.

#113 Hide help modal once seen
  src/components/script/help-modal.js
Labels: enhancement, liedle, 2048 expert, capidle

#115 fix: fixed a bug where users can enter values while the help modal is present
  .github/workflows/build.yml
  cypress/e2e/liedle/start.cy.js
  src/components/script/help-modal.js
  src/liedle/index.js
Labels: bug, liedle

#116 fix: fixed a bug in that words with multiple identical letters would be marked as only partially-correct
  .gitignore
  cypress/e2e/liedle/colour-letter.cy.js
  src/liedle/index.js
Labels: bug, liedle

#117 Check mergeable tiles in check lose
  cypress/e2e/2048-expert/end-game.cy.js
  src/2048-expert/index.js
Labels: bug, 2048 expert

#118 fix: fixed 2048 tile not being generated on win condition on some browsers
  cypress/e2e/2048-expert/end-game.cy.js
  src/2048-expert/index.js
Labels: bug, 2048 expert

#131 Animation when clicking game
  cypress/e2e/capidle/autofill.cy.js
  cypress/e2e/capidle/navigation.cy.js
  cypress/e2e/help-modal.cy.js
  src/brain-gain/index.js
  src/brain-gain/main.css
  src/index.html
Labels: pending
